.checkout{
  width: 100%;
  position: relative;
}

.checkout-container{
  width: 100%;
  position: relative;
  padding: 1.5rem;
  background: #f6f6f6;
  min-height: calc(100vh - 7rem);
}

.checkout-content{
  width: 100%;
  position: relative;
  &>div{
    margin-bottom: 2rem;
  }
  .checkout-box{
    width: 100%;
    min-height: 20rem;
    &-label{
      font-size: 1.6rem;
      text-transform: capitalize;
      background: #fff;
      padding: 1rem 1.5rem;
      color: #878787;
      font-weight: bold;
      border-bottom: 1px solid #e5e5e5;
    }
  }
  .checkout__payment{
    
  }
}
.checkout__payment-btn{
  text-transform: uppercase;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0;
  background-color: #fb641b;
  border: none;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .checkout-content{
    display: flex;
    column-gap: 2rem;
    .checkout__orderSummary{
      width: 60%;
    }
    .checkout-box__sticky{
      position: sticky;
      top: 8rem;
    }
    .checkout__payment{
      width: 40%;
    }
  }
  
}