.displayProduct{
  position: relative;
  width: 50%;
  padding: 1.5rem;
  background-color: #fff;
  .displayProduct__content{
    display: flex;
    flex-direction: column;
    
    .displayProduct__image{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        transition: transform 300ms ease;
        &:hover{
          transform: scale(1.1);
          transition: transform 300ms ease;
        }
      }
    }
    .displayProduct__detail{
      padding-top: 1rem;
      .displayProduct-brand{
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #878787;
        // padding-bottom: .5rem;
      }
      .displayProduct-name{
        display: block;
        font-size: 1.4rem;
        color: #383838;
        font-weight: bold;
        padding-bottom: 1rem;
        line-clamp: 1;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
      }
      
      .product-priceDetail{
        display: flex;
        column-gap: 1rem;
        
        .displayProduct-discountPrice{
          font-size: 1.6rem;
          color: #000;
        }
        .displayProduct-price{  
          color: #000;
        }
        .displayProduct-offer{
          color: #388e3c;
          font-size: 1.4rem;
        }
        .inOffer{
          color: rgb(163, 160, 160) ;
          text-decoration-line: line-through ;
        }
       
      }

    }
  }
}

.new-product{
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #388e3c;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .displayProduct{
    width: 100%;
  }
}