.button-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  padding: .5rem 3rem;
  display: inline-block;
}

.linkButton{
  text-decoration: none;
}

.linkButton-Primary{
  background-color: #08BD80;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

.linkIconButton{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #383838;
  .icon{
    font-size: 3.2rem;
  }
}
