.button-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 171C61

.button{
  padding: .5rem 3rem;
  display: inline-block;
}

.linkButton{
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
}

.linkButton-Primary{
  background-color: #08BD80;
  color: #fff;
}

.linkButton-Tertiary{
  color: #08BD80;
  border: 2px solid #08BD80;
  transition: all 300ms ease;
  &:hover{
    background-color: #08BD80;
    color: #fff;
    transition: all 300ms ease;
  }
}

.linkIconButton{
  display: flex;
  column-gap: .3rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #383838;
  border-bottom: 1px solid transparent;
  padding-bottom: .5rem;
  .icon{
    font-size: 2.5rem;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #383838;
    margin-left: .5rem;
  }

  &:hover::after{

    transition: width 300ms ease;
    width: 100%;
  }
}


.dropdown{
  position: relative;
  padding: .5rem 3rem;

  .dropdown__display{
    position: relative;
    cursor: pointer;
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .dropdown__options{
    display: none;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    position: absolute;
    top: 4rem;
    width: 100%;
    min-height: 10rem;
    background-color: #f6f6f6;
    z-index: 333;
    border-radius: .2rem;
    border-top: 1px solid #e5e5e5;
    box-shadow: -2px 7px 10px -3px rgba(0,0,0,0.21);
    padding: 0 1rem;
    .dropdown-option{
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}