.autocomplete-container{
  position: relative;
  width: 100%;

  .autocomplete__input{
    position: relative;
    width: 100%;
    height: 4rem; 
    z-index: 2;
    .autocmplete__searchInput{
      border: 1px solid #e5e5e5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: .2rem 2rem;
      border-radius: 4rem;
      background-color: #f6f6f6;
      #searchInput{
        border: none;
        width: 90%;
        height: 100%;
        background-color: #f6f6f6;
        font-family: 'Noto Sans', sans-serif;
        outline: none;
      }
      
    }
  }

  .autocomplete__display{
    display: none;
    position: absolute;
    top: 3rem;
    width: 100%;
    height: auto;
    z-index: 1;
    padding-top: 1.5rem;
    .autocomplete__suggestion{
      width: 100%;
      height: 100%;
      border: 1px solid #e5e5e5;
      border-radius: 2rem;
      background-color: #f6f6f6;
      overflow: hidden;
      .no-result{
        font-size: 1.6rem;
        padding: 1rem 2rem;
        background-color: rgba(238, 111, 111, 0.247);
      }
    }
    
  }
}


.suggestion-card{
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #e5e5e5;
  transition: background-color 300ms ease-out;
  .suggestionCard-link{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    padding: 0 2rem;
    font-size: 1.4rem;
    align-items: center;
    column-gap: 1rem;
    color: #383838;
    text-transform: capitalize;
    .icon{
      color: #707070;
    }
    
  }
  &:hover{
    background-color: #e7e4e4; 
    transition: background-color 300ms ease-out;
 }
}
.searchIcon{
  font-size: 2.5rem;
  color: #707070;
}

.userSearch-label{
  color: blue;
  .icon{
    color: #707070;
  }
}